* {
box-sizing:border-box;
}

nav{
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 1px 4px;
  background-color: #fff; 
  width:100%;
 }

 .logo h1{
   font-size: 1.8rem;
   margin-left: 50px;
   color:green;
   font-weight: bold;
 }

 .logo h2{
font-size: 10px;
color: gray;
margin-left: 250px;
position:relative;
margin-top: -30px;
font-style: italic;
 }

 ul li{
   list-style-type: none;
   display:inline-block;
   padding-right: 2rem;
 }

 a{
   text-decoration:none;
   color:black;
   display: block;
   float: left;
 }

 a:hover{
   color:green;
 }

 .menu{
   display: flex;
   align-items: center;
   font-weight: bold;
   position:static;
   
 }

 .button{
   background-color: orangered;
   padding: 1rem;
   color: #fff;
  border-radius:10px;
   text-transform:uppercase;
   font-size: 1rem;
   border-radius: 10px;
   font-weight: bold;
   transition: 0.3s;
   cursor: pointer;
 }

 .button:hover{
   transform: scale(1.2);
 }

.banner-card img{
  width: 100%;
  height:600px;
  object-fit:cover;
  object-position:bottom center;

 }

.banner-text{
  position:absolute;
  top:400px;
  color: whitesmoke;
  padding:10px;
  margin-left: 50px;
  font-size: 20px;
}

.banner-text h1{
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 16px;
  font-style: italic;
}


 .banner-text h2{
  margin-left: 70px;
  font-size:15px;
 }

 .banner img{
  height:400px;
width:400px;
margin-left:900px;
position: absolute;
display: flex;
margin-bottom:0px;
margin-top:-70px;
 }

 .entry-text h2{ 
  font-size: 50px;
  font-style: arial;
  font-weight: bold;
margin-left: 70px;
 }

 .entry-text h1 {
  position:relative;
 font-size: 20px;
 margin-left: 300px;
 }


 .wrapper img{
float: left;
margin-top:-60px;  
position:relative;
height:500px;
 }

 .content h2{
  margin-top: 50px;
  margin-left:800px;
  font-size: 15px;
  font-style: arial;

 }

.content h1{
  margin-top:100px;
  margin-left:800px;
  position:relative;
  border-radius: 15px;
  background-color:rgb(51, 150, 51);
justify-content: center;
  display:flex;
  padding: 0;
  height:40px;
  width:400px;
}

.box {
  width: 250px;
  height: 45px;
  border: 1px solid orangered;
  padding: 10px;
  margin-bottom:10px;
  margin-left:17px;
  border-radius:15px;
  background-color: orangered;
  margin-left:800px;
  margin-top: 80px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  padding:0;
  cursor: pointer;
  top:15%;
  transform: translateY(-20%);
  position: relative;
}
.box:hover{
  transform: scale(1.2);
}

.work h2{
  margin-top: 150px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-style: arial;
}

.work h1{
  font-size: 15px;
  text-align:center;
  font-style: arial;
  color: gray;
}

body{
  margin:0;
  font-family: sans-serif;
}
 
.world-map{
  width:100%;
  max-width:1100px;
  margin:0 auto;
  padding:1em;
  position:relative;
}

.world-map img{
  width: 100%;
  height:100%;
  object-fit:contain;
}

.title{
  text-align:center;
  color: #fff;
  margin: 2em 0;
  padding: 0 1em;
}

.pin{
  background: #4362f8;
  position: absolute;
  width:0.7em;
  height:0.7em;
  border-radius: 50%;
}

.pin::before{
  content:'';
  background: #4362f8;
  position: absolute;
  top:50%;
  left: 50%;
  transform:translate(-50%,-50%);
  width:100%;
  height:100%;
  border-radius: 50%;
  animation:alternate
  pulse 1.3s ease-in-out infinite;
}

.pin span{
  display: inline-block;
  white-space: nowrap;
  position: absolute;
  left: 1.5em;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  border-radius: 3em;
  padding: 0.3em 0.6em;
  font-size: 0.9em;
}

.usa{
  top:50%;
  left: 21%;
}

.france{
  top:45%;
  left: 48%;
}

.sweden{
  top:33%;
  left: 52%;
}

.south-africa{
  top:78%;
  left:53%;
}

.brazil{
  top:71%;
  left: 32%;
}

.china {
  top:40%;
  left: 60%;
}

.australia{
top:76%;
left:82%;
}

@keyframes pulse{
  100%{
    opacity:0;
    transform:
    translate(-50%,-50%)
    scale(2.5);
  }
}

@media screen and(max-width: 600px){
  .world-map{
    font-size:13px;
  }
}

.topic{
  background-color: rgb(223, 222, 222);
  height:400px;
justify-content: center;
align-items: center;
margin-top: 10px;
width:10hw;
max-width: 94%;
grid-template-columns: repeat(auto-fill,minmax(300px,300px));
margin-left: 50px;

}

.topic img{
  width:312px;
  height:350px;
  object-fit: cover;
  object-position: center;
  position: relative;
  filter: blur(1px);
}

.topic h1{
  font-style: italic;
  text-align: center;
  padding:10px;
}

.method-text{
  margin-top:-30px;
  position:absolute;
}

.method-text h2{
  margin-top: -250px;
  font-size: 45px;
  margin-left: 70px;
  font-style: bold;
  color:yellowgreen;
  font-style: italic;
  margin-bottom: 200px;
  text-align: left;
}

.method-text h3{
  margin-top: -350px;
  font-size: 45px;
  margin-left: 400px;
  font-style: bold;
  color:yellowgreen;
  font-style: italic;
  margin-bottom: 200px;
  text-align: left;
}

.method-text h4{
  margin-top: -350px;
  font-size: 45px;
  margin-left: 700px;
  font-style: bold;
  color:yellowgreen;
  font-style: italic;
  margin-bottom: 200px;
  text-align: left;
  
}

.method-text h5{
  margin-top: -300px;
  font-size: 40px;
  margin-left: 1000px;
  font-style: bold;
  color:yellowgreen;
  font-style: italic;
  margin-bottom: 200px;
  text-align: left;
}

.form-box form{
  max-width:600px;
  margin: 0 auto;
 }

.form-title{
  font: size 36px;
  text-transform:uppercase;
  text-align:center;
  text-decoration:underline;
  margin-top: 100px;
 }
 
 .form-box input,
 .form-box textarea{
  width:100%;
  padding:10px 20px;
  border:1px solid rgba(0 ,0,0 ,0.4);
 }

 .form-field{
  margin-bottom:20px;
 }

.form-box label{
  font-size:19px;
  font-weight:700;
 }

 .form-box textarea{height:100px}

.form-box input[type*="subscribe"]{
  width:150px;
  padding:10px 15px;
  background-color:orange;
  color:white;
  transition:0.3s;
  cursor:pointer;
  border-radius: 15px ;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
 }

.form-box input[type*="subscribe"]:hover{
  background-color:yellow;
 }

 .container{
  max-width:1170px;
  margin:auto;
 }

 .row{
  display:flex;
  flex-wrap:wrap;
 }

 .ul{
list-style-type: none;
 }

 .footer{
  background-color: #242624;
padding: 40px 0;
margin-top:150px;
 }

 .footer-col{
  width:20%;
  padding:15px;
 }

 .footer-col h4{
  font-size: 18px;
  color: #ffffff;
  font-style: arial;
  margin-bottom:30px;
  font-weight:bold;
  margin-left: 40px;
position: relative;
 }

 .footer-col h4::before{
  font-size: 18px;
  content:'';
  position: absolute;
  left:0;
  bottom:-10px;
  background-color: #e91e63;
  height:2px;
  box-sizing: border-box;
  width:30px;
 }

 .footer-col ul li:not(:last-child){
  margin-bottom: 10px;
 }

 .footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color:#4362f8;
  text-decoration: none;
  font-weight: 300;
  color:#bbb;
  display: block;
    transition: all 0.3s ease;
 }

 .footer-col ul li a:hover{
  color:#ffffff;
  padding-left: 8px;
 }

 .footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width:40px;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 20%;
  color:#ffffff;
  transition: all 0.5s ease;
 }

  .footer-col .social-links a:hover{
color: #24262b;
background-color: #ffffff;
 }

 .a{
  color:#ffffff;
 }

 @media(max-width: 767px){
  .footer-col{
    width:25%;
    padding:0 15px;
    margin-bottom: 30px;
  }
 }


